
<!DOCTYPE html>
<html>
    <head>
        <title>Gunjan's blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Gunjan's Blog</a></h1>
        </header>

        <article>
            <time>published: 03.01.2022, 12:30</time>
            <h2><a href="">My first post</a></h2>
            <p>An ideal cryptocurrency investment platform is expected to be SIMPLE, SECURE, and FLEXIBLE.

                CoinSwitch Kuber was designed with the idea to build a simple crypto investment platform that makes crypto investment as easy as ordering food online.
                
                We have worked towards removing all the technicalities involved in crypto investing and built a go-to solution for retail investors.</p>
        </article>

        <article>
            <time>published: 03.01.2022, 12:45</time>
            <h2><a href="">My second post</a></h2>
            <p>Apart from the most popular coins available in the market, we offer more than 100 cryptocurrencies.
                Unlike some other exchanges that support only popular coins such as Bitcoins, 
                Ethereum, etc, we also support other legitimate altcoins and stablecoins available in the market. 
                Variety enables our users to choose from many currencies and mitigate risks by diversifying their investments</p>
        </article>
    </body>
